.accordion, .accordion * {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    }

    .accordion {
    overflow:hidden;
    border-radius:20px;
    background:blue;
    justify-content: center;
    
    }
    .container{
        display: flex;
    }
    .light_theme{
        background-color:rgb(141, 236, 45);
        color: black;

    }
    .dark_theme{
        background-color: rgba(52, 58, 64, 1);
        color: white;    
    }
    