<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skills and Experiences</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/nicequery.css' %}">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
 
<div id="accordion">
  <button id="activity-button">Activities</button>
  <p class="content" id="content-activity">
      Undergraduate at Faculty of Computer Science, Universitas Indonesia <br>
      Volunteer Teacher for Gerakan UI Mengajar 9 <br>
      Student at Sekolah Pemikiran Islam Batch 10
  </p>
  <div>
  </div>
  <button id="experience-button">Experiences</button>
  <p class="content" id="content-experience">
      VPIC of Voting at PEMIRA FASILKOM UI 2019 <br>
      Sosial Kemasyarakatan Department Staff at FUKI FASILKOM UI 2019<br>
      Caderization Comission Staff at DPM FASILKOM UI 2019<br>
      Mentor Staff at PMB FASILKOM UI 2019 <br>
      Public Relations Staff at BETIS FASILKOM UI 2019 <br>
      Event Staff at SIWAK-NG 2019
  </p>
  <div>
  </div>
  <button id="achievement-button">Achievements</button>
  <p class="content" id="content-achievement">
    2nd Place at OSK Komputer Kota Bogor 2017
    5th Place at OSK Komputer Kota Bogor 2016
  </p>

  <div>
    
  </div>
</div>
<button type="button" onclick="toggleDark();">Click Me!</button>  

<script type="text/javascript" src="{% static 'js/nicequery.js' %}"></script>

 
</body>
</html>









